* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  display: flex;
  background-image: linear-gradient(#2af598 0%, #009efd 100%);
  overflow-y: hidden;
}
.initial {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.initial__logo {
  position: relative;
  bottom: 100px;
}
.initial__input {
  width: 180px;
  height: 25px;
  padding: 0 8px;
  position: relative;
  bottom: 80px;
  border: none;
  border-radius: 100px;
  outline: none;
}
.initial__input:hover {
  box-shadow: 4px 4px 6px #20212447;
}
.initial__button {
  cursor: pointer;
  letter-spacing: 3px;
  position: relative;
  bottom: 50px;
  border: none;
  width: 160px;
  height: 50px;
  border-radius: 25px;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
.initial__button:hover {
  opacity: 0.9;
}
.cromulon {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 900;
  transition: top 2s;
}
.activated {
  display: block;
  top: 15%;
  transition: all 2s;
}
.memory-game {
  width: 640px;
  height: 640px;
  margin: auto;
  display: none;
  align-content: center;
  flex-wrap: wrap;
  perspective: 1000px;
}
.memory-card {
  position: relative;
  width: calc(18%);
  height: calc(20%);
  margin: 5px;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}
.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}
.memory-card.flip {
  transform: rotateY(180deg);
}
.front-face,
.back-face {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 5px;
  background: #1c7ccc;
  backface-visibility: hidden;
}
.front-face {
  transform: rotateY(180deg);
}
